body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #9370DB; 
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #8A2BE2; 
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #A020F0; 
    color: #fff;
}

section {
    padding: 20px;
}

.info-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px; 
}

h2 {
    color: #040008;
    font-size: 28px; 
}

p {
    color: #333;
    font-size: 18px; 
}

.slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-img {
    width: 40%; 
}

.menu-container {
    width: 50%; 
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.menu-container h3 {
    color: #8A2BE2;
    font-size: 18px;
}

.menu-container table {
    width: 100%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-box {
    width: 30%; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-box h3 {
    color: #8A2BE2; 
    font-size: 18px;
    margin-bottom: 10px;
}

.content-box p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #8A2BE2; 
    color: #fff;
    padding: 10px;
    text-align: center;
}
